<mat-toolbar>
  <div class="navbar row">

    <div class="navbar-logo col-lg-3 col-md-3">
      <img src="../../../../assets/img/logo">
    </div>
    <div class="col-md-6 col-lg-6 p-0 mg-l">
      <li class="px-md-3 px-lg-3">
        <a class="active" mat-button>
          الرئيسية
        </a>
      </li>
      <li class="px-md-3 px-lg-3">
        <a mat-button>
          عن المنصة
        </a>
      </li>
      <li class="px-md-3 px-lg-3">
        <a mat-button>
          المبادرات
        </a>
      </li>
      <li class="px-md-3 px-lg-3">
        <a mat-button>
          فرص انوسوفت
        </a>
      </li>
      <li class="px-md-3 px-lg-3">
        <a mat-button>
          تواصل معنا
        </a>
      </li>
      <li class="px-md-3 px-lg-3">
        <a mat-button>
          الشركات
        </a>
      </li>
    </div>

    <div class="navbar-setting col-md-2 col-lg-2 p-0">
      <i class="las la-user icon "></i>
      <i class="las la-cog p icon"></i>
      <i class="las la-search search-icon"></i>
    </div>

  </div>

</mat-toolbar>