<div class="section">
    <app-header-page></app-header-page>
    <div class="row mx-0 mg-lg-b mg-md-b">
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <img class="background-image" src="../../../../assets/img/header-image">
        </div>
        <div class="data height-lg-data height-md-data">
            <h1 class="header">منصة الاختبار انوسوفت</h1>
            <p class="paragraph">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
                ويُستخدم في صناعات المطابع ودور النشر.</p>
                <div class="col-md-12 col-lg-12 p-0">
                    <button class="button-send" mat-flat-button>التسجيل في المنصة</button>
        
                </div>

        </div>
        <div class="goals height-lg-goals height-md-goals p-md p-lg">
            <h1 class="header">المزايا و الأهداف</h1>
            <div class="card">
                <i class="las la-hands-helping"></i>
                <h1>مبادرات</h1>
                <p>كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة
                    من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف.</p>
            </div>
            <div class="card position">
                <i class="las la-american-sign-language-interpreting"></i>
                <h1>
                    فرص
                </h1>
                <p>كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة
                    من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف.</p>
            </div>

        </div>



    </div>


    <div class="row mg-b-70">
        <div class="col-md-12 col-lg-12">
            <h1 class="center">
                المبادرات
            </h1>
            <div class="detail">
                <div class="card-detail">
                    <img src="../../../../assets/img/black">
                    <p>عشان أحب السعودية</p>
                    <div class="icon">
                        <p>التفاصيل</p>
                        <i class="las la-arrow-left"></i>
                    </div>

                </div>
                <div class="card-detail center-card">
                    <img src="../../../../assets/img/black">
                    <p>عشان أحب السعودية</p>
                    <div class="icon">
                        <p>التفاصيل</p>
                        <i class="las la-arrow-left"></i>
                    </div>

                </div>
                <div class="card-detail last-card">
                    <img src="../../../../assets/img/black">
                    <p>عشان أحب السعودية</p>
                    <div class="icon">
                        <p>التفاصيل</p>
                        <i class="las la-arrow-left"></i>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="row mg-b-70">
        <div class="col-md-12 col-lg-12 p-0">
            <div class="chance">
                <div class="col-md-3 col-lg-5">
                    <h1 class="chance-header mr-lg-2 mr-md-2">فرص</h1>
                    <p class="par mr-lg-2 mr-md-2">ما هو “لوريم إيبسوم” ؟</p>
                    <button class="button-send mr-lg-2 mr-md-2" mat-flat-button>جميع الفرص</button>

                </div>
                <div class="col-md-3 col-lg-2 p-0 card">
                    <img src="../../../../assets/img/people">
                    <h1>عشان أحب الشرقية</h1>
                    <p>يا شباب الشرقية جهزوا نفسكم وحضروا إبداعاتكم سنتواجد في الكورنيش، وننفذ مشروعنا الأول الفني
                    </p>
                    <div class="display-icon mg-r-10">
                        <i class="las la-map-marker"></i>
                        <p>الدمام</p>
                    </div>
                    <div class="display-icon mg-r-10">
                        <div class="display-icon">
                            <i class="las la-cloud-sun-rain"></i>
                            <p> مجال فني</p>
                        </div>
                        <div class="display-icon mg-r-10">
                            <i class="las la-circle"></i>
                            <p>١٢ يناير ٢٠٢١</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-lg-2 p-0 card m-lg-5 m-md-5">
                    <img src="../../../../assets/img/sea">
                    <h1> تنظيف شواطئ المملكة</h1>
                    <p>
                        مبادرة تنظيف شاطئ السيف لنشر الوعي و الحفاظ علي البيئة و المشهد الحضاري </p>
                    <div class="display-icon mg-r-10">
                        <i class="las la-map-marker"></i>
                        <p>الدمام</p>
                    </div>
                    <div class="display-icon mg-r-10">
                        <div class="display-icon">
                            <i class="las la-cloud-sun-rain"></i>
                            <p> مجال فني</p>
                        </div>
                        <div class="display-icon mg-r-10">
                            <i class="las la-circle"></i>
                            <p>١٢ يناير ٢٠٢١</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-lg-2 p-0 card">
                    <img src="../../../../assets/img/beach">

                    <h1> تنظيف شواطئ المملكة</h1>
                    <p>
                        مبادرة تنظيف شاطئ السيف لنشر الوعي و الحفاظ علي البيئة و المشهد الحضاري
                    </p>
                    <div class="display-icon mg-r-10">
                        <i class="las la-map-marker"></i>
                        <p>الدمام</p>
                    </div>
                    <div class="display-icon mg-r-10">
                        <div class="display-icon">
                            <i class="las la-cloud-sun-rain"></i>
                            <p> مجال فني</p>
                        </div>
                        <div class="display-icon mg-r-10">
                            <i class="las la-circle"></i>
                            <p>١٢ يناير ٢٠٢١</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row achievement">
        <div class="col-md-12 col-lg-12">
            <div class="achieve-details">
                <h1>الإنجازات</h1>
                <h3>
                    صور و الأثر يتحدث
                </h3>
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>


            </div>

        </div>
        <div class="col-md-6 col-lg-6 p-0">

            <img class="child-img" src="../../../../assets/img/children">
            <p>خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ
                العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم.</p>



        </div>
        <div class="col-md-6 col-lg-6 p-0">


            <img class="help-img" src="../../../../assets/img/help">
            <p>خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ
                العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم.</p>


        </div>

    </div>
    <div style="text-align:center; margin-bottom: 50px;">
        <span class="dot"></span>
        <span class="dot color"></span>
        <span class="dot"></span>
    </div>
    <div class="row logo">
        <div class="col-md-12 col-lg-12">
            <h1>الشراكات</h1>
        </div>
        <div class="col-md-1 col-lg-1 align">
            <img class="react-img" src="../../../../assets/img/react">
            <p>React.js</p>

        </div>
        <div class="col-md-1 col-lg-1 align">
            <img class="css-img" src="../../../../assets/img/css">
            <p>CSS</p>

        </div>
        <div class="col-md-1 col-lg-1 align">
            <img class="java-img" src="../../../../assets/img/javaScript">
            <p>JavaScript</p>

        </div>
        <div class="col-md-1 col-lg-1 align">
            <img class="html-img" src="../../../../assets/img/html">
            <p>HTML</p>

        </div>
        <div class="col-md-1 col-lg-1 align">
            <img class="angular-img" src="../../../../assets/img/angular">
            <p>Angular</p>

        </div>
    </div>
    <div style="text-align:center; margin-top: 50px; margin-bottom: 30px;;">
        <span class="dot"></span>
        <span class="dot color"></span>
        <span class="dot"></span>
    </div>
    <div class="row info">
        <div class="col-md-12 col-lg-12 p-0 align">
            <h1>تواصل معنا</h1>

        </div>
        <div class="col-md-6 col-lg-6 p-0">
            <mat-form-field class="example-full-width">
                <mat-label>الإسم</mat-label>
                <input matInput>
            </mat-form-field>

        </div>
        <div class="col-md-6 col-lg-6 p-0">
            <mat-form-field class="example-full-width">
                <mat-label>البريد الإلكتروني</mat-label>
                <input matInput>
            </mat-form-field>

        </div>
        <div class="col-md-12 col-lg-12 p-0 mg-t-20">
            <mat-form-field class="text">
                <mat-label>رسالتك </mat-label>
                <input matInput>
            </mat-form-field>

        </div>
        <div class="col-md-12 col-lg-12 p-0">
            <button class="button-send" mat-flat-button>ارسال</button>

        </div>


    </div>
    <app-footer-page></app-footer-page>

</div>