<footer class="bg-inf-blue row pr-lg-4 pl-lg-4 pr-md-4 pl-md-4" >
  
            <div class="col-md-5 col-lg-5 p-0">
                <p class="copy-right">جميع الحقوق محفوظة – انوسوفت © 2021</p>
            </div>
            <div class="col-md-4 col-md-4">
                <p class="Condition">
                    سياسة الخصوصية | الشروط و الأحكام
                </p>
            </div>
        
            <div class="col-md-2 col-lg-2 p-0">
                    <i class="lab la-facebook"></i>        
                    <i class="lab la-facebook"></i> 
                    <i class="lab la-facebook"></i> 
             
    </div>
</footer>